<div class="mt-4">
    <div class="d-flex justify-content-end mb-3">
      <button class="addTask btn-custom" mat-raised-button (click)="addTask()">Add Task</button>
    </div>
  
    <form>
      <div class="row mt-3">
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Search</mat-label>
            <input matInput placeholder="title search" class="input-custom">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>By User</mat-label>
            <mat-select class="select-custom">
              <mat-option *ngFor="let user of users" [value]="user?.id">
                {{user?.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Status</mat-label>
            <mat-select class="select-custom">
              <mat-option *ngFor="let item of status" [value]="item?.id">
                {{item?.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker" class="date-range-custom">
              <input matStartDate placeholder="Start date">
              <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>
    </form>
  
    <div class="listBox mt-4" *ngIf="dataSource">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-custom">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef class="column-header">Image</th>
          <td mat-cell *matCellDef="let element " class="column-data">
            <img [src]="'https://crud-1-c52z.onrender.com/' + element.image" alt="">
          </td>
        </ng-container>
  
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef class="column-header">Title</th>
          <td mat-cell *matCellDef="let element" class="column-data">{{element.title}}</td>
        </ng-container>
  
        <!-- User Column -->
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef class="column-header">User</th>
          <td mat-cell *matCellDef="let element" class="column-data">{{element.user}}</td>
        </ng-container>
  
        <!-- DeadLine Date Column -->
        <ng-container matColumnDef="deadline">
          <th mat-header-cell *matHeaderCellDef class="column-header">DeadLine Date</th>
          <td mat-cell *matCellDef="let element" class="column-data">{{element.deadline}}</td>
        </ng-container>
  
        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="column-header">Status</th>
          <td mat-cell *matCellDef="let element" class="column-data">{{element.status}}</td>
        </ng-container>
  
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="actions-header">Actions</th>
          <td mat-cell *matCellDef="let element" class="actions-cell">
            <button class="btn btn-warning btn-small" mat-raised-button>Update</button>
            <button class="btn btn-danger btn-small" mat-raised-button>Delete</button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  